@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@font-face {
  font-family: "Cereal";
  src: url("../public/airbnb-cereal-font/AirbnbCereal_W_Bd.otf");
}

@font-face {
  font-family: "Cereal_light";
  src: url("../public/airbnb-cereal-font/AirbnbCereal_W_Md.otf");
}
